body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #003d80;
    padding: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #ffcc00;
    color: #0056b3;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: skyblue;
}

.footer {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

.footer a:hover {
    color: #ffcc00;
}
.profile-photo {
    width: 150px; /* Lebar foto */
    height: 150px; /* Tinggi foto */
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    object-fit: cover; /* Memastikan gambar tidak terdistorsi */
    margin: 0 auto 10px; /* Menambahkan margin di bawah foto */
    display: block; /* Menjadikan elemen block agar terpusat */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan */
}

